* {
  margin: 0;
  padding: 0;
}

.image {
  background-image: url("https://source.unsplash.com/category/nature/800x600");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
